<section class="row">
  <div class="container">
    <h1>API Demo</h1>
    <p>To see some json come back from the API, click on:</p>
    <ul>
      <li>
        <a href="/api">API endpoint</a>
      </li>
      <li>
        <a href="/api/users">A pretend users endpoint</a>
      </li>
      <li>
        <a href="/api/users/jane">A pretend user with the name Jane.</a>
      </li>
    </ul>
  </div>
</section>