<section class="row">
  <div class="container">
    <h1>Contact</h1>
    <p>Use the form below and you'll see the information POSTed back to you.</p>
  </div>
  <form action="/contact" method="POST" id="form">
    <label for="email">Your Email:<input type="email" name="email" id="email"></label>
    <label for="name">Your Name:<input type="text" name="name" id="name"></label>
    <label for="message">Your Message:<textarea name="message" id="message" cols="30" rows="10"></textarea></label>
    <input type="submit" value="Send a message">
  </form>
  <div id="results"></div>
</section>