<section class="row">
  <div class="container">
    <h1>Welcome!</h1>
    <p>This is an example of using node/express with server side templating.</p>
    <p>Static assets are served from <code>/public</code></p>
    <p>Send yourself a message on <a href="/contact">the contact page</a>.</p>
  </div>
</section>