* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container,
form,
footer {
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem;
}

nav ul {
  max-width: 45rem;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  width: 100%;
  padding: 1rem;
}

input,
textarea,
label {
  display: block;
}

input,
textarea {
  margin-top: 0.5rem;
}

label {
  margin: 1rem auto;
}

label + label {
  margin-top: 1rem;
}

